/*---

Clickable buttons:

```
<div class="button-wrapper">
	<button class="button">Button</button>
</div>

<div class="button-wrapper">
	<a href="#0" class="button">Button (link)</a>
</div>

<div class="button-wrapper">
	<span class="button">Faux button</span>
</div>
```

`light` style:

```
<div style="background-color: #0c0c0c">

	<div class="button-wrapper">
		<button class="button button--light">Button</button>
	</div>

	<div class="button-wrapper">
		<a href="#0" class="button button--light">Button (link)</a>
	</div>

	<div class="button-wrapper">
		<span class="button button--light">Faux button</span>
	</div>

</div>
```

Disabled buttons:

```
<div class="button-wrapper">
	<button class="button" disabled>Button</button>
</div>

<div class="button-wrapper">
	<span class="button button--disabled">Faux button</span>
</div>

<div class="button-wrapper">
	<button class="button button--light" disabled>Light button</button>
</div>

<div class="button-wrapper">
	<span class="button button--light button--disabled">Faux light button</span>
</div>
```

*/

// basic buttons

.button {
  @include hardware;
  position: relative;
  padding: ($rel-spacing-unit--small * .75) $rel-spacing-unit--small;
  font-family: $stack--sans;
  font-size: $p--small;
  font-weight: $w--bold;
  line-height: $lh--small;
  border-radius: 2px;
  color: $c--black;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba($c--white, 0);
  box-shadow: inset 0 0 0 1px $c--black;
  transition: color .3s $ease--out-quint;

  @include mq('tablet') {
    padding: $rel-spacing-unit--small $rel-spacing-unit;
    font-size: $p;
    box-shadow: inset 0 0 0 1px $c--black,
    0 0 0 1px $c--black;
  }

  &::after {
    @include pseudo;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background: $c--black;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform .5s $ease--out-quint;
  }

  &:hover,
  &:focus {
    color: $c--white !important;
    transition: color .3s .1s $ease--out-quint;

    &::after {
      transform: scaleX(1);
      transform-origin: 0 50%;
      transition: transform 0 .5s $ease--out-quint;
    }
  }
}


// colours

.button--light {
  color: $c--white;
  box-shadow: inset 0 0 0 1px $c--white;

  @include mq('tablet') {
    box-shadow: inset 0 0 0 1px $c--white,
    0 0 0 1px $c--white;
  }

  &::after {
    background: $c--white;
  }

  &:hover,
  &:focus {
    color: $c--black !important;
  }
}

// shine

.button--bright {
  color: $c--akcent;
  text-shadow: 0 1px 2px $c--black;
  letter-spacing: 0.011rem;
  background-color: rgba(0, 0, 0, .55);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 0 1px $c--akcent;

  @include mq('tablet') {
    letter-spacing: 0.022rem;
    box-shadow: inset 0 0 0 1px $c--akcent,
    0 0 0 1px $c--akcent;
  }

  &::after {
    background: $c--akcent;
    box-shadow: inset 0 0 0 1px $c--black;
  }

  &:hover,
  &:focus {
    color: $c--black !important;
    text-shadow: none;
    background-color: $c--akcent;
    box-shadow: inset 0 0 0 1px $c--black;
  }
}

// dark

.button--dark {
  color: $c--black;
  text-shadow: 0 1px 1px $c--white;
  background-color: rgba(255, 255, 255, .55);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 0 1px $c--black;

  @include mq('tablet') {
    box-shadow: inset 0 0 0 1px $c--black,
    0 0 0 1px $c--black;
  }

  &::after {
    background: $c--black;
    box-shadow: inset 0 0 0 1px $c--white;
  }

  &:hover,
  &:focus {
    color: $c--white !important;
    text-shadow: none;
    background-color: $c--black;
    box-shadow: inset 0 0 0 1px $c--white;
  }
}

// shine

.button--teal {
  color: $c--white;
  font-weight: 500;
  text-shadow: 0 1px 2px $c--black;
  letter-spacing: 0.005rem;
  text-transform: uppercase;
  background-color: $c--teal;
  box-shadow: inset 0 0 0 1px $c--insta-old;

  @include mq('tablet') {
    letter-spacing: 0.008rem;
    box-shadow: inset 0 0 0 1px $c--insta-old,
    0 0 0 1px $c--insta-old;
  }

  &::after {
    background: $c--teal-light;
    box-shadow: inset 0 0 0 1px $c--insta-old;
  }

  &:hover,
  &:focus {
    color: $c--insta-old !important;
    text-shadow: none;
    background-color: $c--teal-light;
    box-shadow: inset 0 0 0 1px $c--insta-old;
  }
}

// basic buttons

.button {
  &[disabled],
  &--disabled {
    cursor: not-allowed;

    &,
    &:hover,
    &:focus {
      background-color: $c--grey-light;
      color: mix($c--grey-light, $c--black, 60%);
    }

    &:active {
      top: 0;
    }
  }
}


@include mq('tablet-small') {
  .pagination-flex {
    width: 100%;

    li.prev,
    li.next {
      width: 10%;
    }

    li.pages {
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

// Articles Pagination
.pagination-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    vertical-align: top;
    height: 60px;

    a {
      color: #444;
      display: inline-block;
      font-size: 2.4rem;
      padding: 0 20px;
      line-height: 60px;
    }

    &.active a {
      color: #fff;
    }

    &.active {
      background-color: $c--teal;
    }

    &.disabled a {
      cursor: default;
      color: #999;
    }

    i {
      font-size: 4rem;
    }
  }

  li.prev,
  li.next {
    width: 10%;
  }

  li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }


  li.pages ul li {
    display: inline-block;
    float: none;
  }
}