.frames-block {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;  
}
.counter-frames {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @include mq('tablet-small') {
    background-size: 100%;
    background-position: center top;
  }
  @include mq('tablet') {
    background-size: 100%;
    background-position: center top;
  }
}