/*
////////////////////////
///////  GlobalNav  ////
///////////////////////
*/

#globalnav .link,
.btn,
a {
  text-decoration: none
}

#globalnav .link,
#globalnav .menuicon-label,
.btn,
a {
  -webkit-tap-highlight-color: transparent
}

#globalnav,
#globalnav article,
#globalnav aside,
#globalnav details,
#globalnav figcaption,
#globalnav figure,
#globalnav footer,
#globalnav header,
#globalnav nav,
#globalnav section,
.vcaption {
  display: block
}

#viewport-emitter {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  z-index: -1;
  x-content: large
}

#curtain,
#globalnav,
#globalnav .header {
  top: 0;
  left: 0;
  width: 100%
}

#viewport-emitter::before {
  content: "large"
}

@media only screen and (max-width:1023px) {
  #viewport-emitter {
    x-content: medium
  }
  #viewport-emitter::before {
    content: "medium"
  }
}

body,
html {
  margin: 0;
  padding: 0
}

#globalnav {
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}

#globalnav,
#globalnav *,
#globalnav:after,
#globalnav:before,
#globalnav:after,
#globalnav:before {
  box-sizing: content-box;
  margin: 0;
  pointer-events: auto;
  letter-spacing: normal
}

#globalnav *,
#globalnav:after,
#globalnav:before {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit
}

#globalnav,
#globalnav .link,
#globalnav button,
#globalnav input,
#globalnav select,
#globalnav textarea {}

#globalnav img {
  border: 0;
  vertical-align: middle
}

#globalnav ul {
  list-style: none
}

#globalnav,
#globalnav button,
#globalnav input,
#globalnav select,
#globalnav textarea {
  font-synthesis: none;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left
}

#globalnav {
  position: absolute;
  right: 0;
  z-index: 999;
  margin: 0;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  background-color: #0b0d1c;
  font-size: 17px;
  user-select: none
}

#globalnav,
#globalnav .list {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

#curtain,
#menustate,
.nav-overlap #placeholder {
  display: none
}

.theme-dark #globalnav {
  background: #2b2b2b;
  background: rgba(85, 85, 85, .5)
}

#globalnav.blocktransitions,
#globalnav.blocktransitions *,
#globalnav.blocktransitions:after,
#globalnav.blocktransitions:before,
#globalnav.blocktransitions:after,
#globalnav.blocktransitions:before {
  -webkit-animation: none!important;
  animation: none!important;
  -webkit-transition: none!important;
  transition: none!important
}

@media only screen and (max-width:1044px) {
  #globalnav {
    min-width: 280px
  }
}

@media only screen and (max-width:767px) {
  #viewport-emitter {
    x-content: small
  }
  #viewport-emitter::before {
    content: "small"
  }
  #globalnav {
    max-height: none;
    -webkit-transition: background .35s linear, height .35s ease-in;
    transition: background .35s linear, height .35s ease-in
  }
  #menustate:checked ~ #globalnav,
  #menustate:target ~ #globalnav {
    height: 100%;
    background: #000;
    -webkit-transition: background .35s linear, height .35s ease-in .2s;
    transition: background .35s linear, height .35s ease-in .2s
  }
}

#placeholder {
  height: 44px
}

@media only screen and (max-width:767px) {
  #placeholder {
    height: 48px
  }
}

@-webkit-keyframes curtain-show {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease
  }
  100% {
    opacity: 1
  }
}

@keyframes curtain-show {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease
  }
  100% {
    opacity: 1
  }
}

#curtain {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 998
}

@media only screen and (max-width:419px) {
  #viewport-emitter {
    x-content: xsmall
  }
  #viewport-emitter::before {
    content: "xsmall"
  }
  #globalnav.with-bagview ~ #curtain {
    display: block;
    -webkit-animation: curtain-show .2s both;
    animation: curtain-show .2s both
  }
}

#globalnav .content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2
}

@media only screen and (max-width:767px) {
  #globalnav .content {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
  }
}

#globalnav .header {
  display: none;
  position: absolute;
  z-index: 3;
  height: 48px;
  overflow: hidden
}

#globalnav .header .item,
#globalnav .header .link {
  height: 48px
}

#globalnav .header .link {
  line-height: 2.82353em
}

#globalnav .header .apple {
  position: absolute;
  width: 72px;
  top: 0;
  left: 50%;
  margin-left: -36px;
  text-align: center;
  z-index: 1
}

@media only screen and (max-width:767px) {
  #globalnav .header,
  #globalnav .header .apple {
    display: block
  }
  #globalnav.searchhide .header,
  #globalnav.searchopen .header,
  #globalnav.searchshow .header {
    background: #000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  #globalnav.searchshow .header .apple {
    -webkit-animation: apple-searchshow .6s .2s both;
    animation: apple-searchshow .6s .2s both
  }
  #globalnav.searchopen .header .apple {
    display: none
  }
  #globalnav.searchhide .header .apple {
    -webkit-animation: apple-searchhide .6s .2s both;
    animation: apple-searchhide .6s .2s both
  }
  #globalnav .header .bag-small {
    display: block
  }
}

#globalnav .list {
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: 44px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  user-select: none
}

#globalnav .list:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

@media only screen and (max-width:767px) {
  #globalnav .list:after {
    display: none
  }
  #globalnav .list {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 48px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    -webkit-transition: visibility 0s linear 1s;
    transition: visibility 0s linear 1s
  }
  #globalnav .list:nth-child(9) {
    margin-bottom: 44px
  }
  #menustate:checked ~ #globalnav .list,
  #menustate:target ~ #globalnav .list {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
  }
}

#globalnav .item {
  display: inline-block;
  position: relative;
  height: 44px;
  z-index: 1;
  vertical-align: top
}

@media only screen and (max-width:767px) {
  #globalnav .item {
    width: 100%;
    height: 44px
  }
  #globalnav .apple {
    display: none
  }
  #globalnav .bag {
    right: 0;
    display: none;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 1
  }
}

@media only screen and (max-width:767px) {
  #globalnav .item-menu {
    height: 43px;
    border-bottom: 1px solid $c--bg;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(1.1) translateY(-24px);
    -ms-transform: scale(1.1) translateY(-24px);
    transform: scale(1.1) translateY(-24px);
    -webkit-transition: opacity .35s ease-out, -webkit-transform .35s ease-out;
    transition: opacity .35s ease-out, -webkit-transform .35s ease-out;
    transition: opacity .35s ease-out, transform .35s ease-out;
    transition: opacity .35s ease-out, transform .35s ease-out, -webkit-transform .35s ease-out
  }
  #globalnav .item-menu:nth-child(2) {
    -webkit-transition-delay: .4s, .4s;
    transition-delay: .4s, .4s
  }
  #globalnav .item-menu:nth-child(3) {
    -webkit-transition-delay: 350ms, 350ms;
    transition-delay: 350ms, 350ms
  }
  #globalnav .item-menu:nth-child(4) {
    -webkit-transition-delay: .3s, .3s;
    transition-delay: .3s, .3s
  }
  #globalnav .item-menu:nth-child(5) {
    -webkit-transition-delay: 250ms, 250ms;
    transition-delay: 250ms, 250ms
  }
  #globalnav .item-menu:nth-child(6) {
    -webkit-transition-delay: .2s, .2s;
    transition-delay: .2s, .2s
  }
  #globalnav .item-menu:nth-child(7) {
    -webkit-transition-delay: 150ms, 150ms;
    transition-delay: 150ms, 150ms
  }
  #globalnav .item-menu:nth-child(8) {
    -webkit-transition-delay: .1s, .1s;
    transition-delay: .1s, .1s
  }
  #globalnav .item-menu:nth-child(9) {
    -webkit-transition-delay: 50ms, 50ms;
    transition-delay: 50ms, 50ms
  }
  #menustate:checked ~ #globalnav .item-menu,
  #menustate:target ~ #globalnav .item-menu {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(2),
  #menustate:target ~ #globalnav .item-menu:nth-child(2) {
    -webkit-transition-delay: .3s, .3s;
    transition-delay: .3s, .3s
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(3),
  #menustate:target ~ #globalnav .item-menu:nth-child(3) {
    -webkit-transition-delay: 350ms, 350ms;
    transition-delay: 350ms, 350ms
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(4),
  #menustate:target ~ #globalnav .item-menu:nth-child(4) {
    -webkit-transition-delay: .4s, .4s;
    transition-delay: .4s, .4s
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(5),
  #menustate:target ~ #globalnav .item-menu:nth-child(5) {
    -webkit-transition-delay: 450ms, 450ms;
    transition-delay: 450ms, 450ms
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(6),
  #menustate:target ~ #globalnav .item-menu:nth-child(6) {
    -webkit-transition-delay: .5s, .5s;
    transition-delay: .5s, .5s
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(7),
  #menustate:target ~ #globalnav .item-menu:nth-child(7) {
    -webkit-transition-delay: 550ms, 550ms;
    transition-delay: 550ms, 550ms
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(8),
  #menustate:target ~ #globalnav .item-menu:nth-child(8) {
    -webkit-transition-delay: .6s, .6s;
    transition-delay: .6s, .6s
  }
  #menustate:checked ~ #globalnav .item-menu:nth-child(9),
  #menustate:target ~ #globalnav .item-menu:nth-child(9) {
    -webkit-transition-delay: 650ms, 650ms;
    transition-delay: 650ms, 650ms
  }
}

#globalnav .link {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 500;
  letter-spacing: -.01em;
  text-transform: uppercase;
  color: $c--white;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 44px;
  opacity: 1;
  background: no-repeat;
  white-space: nowrap;
  -webkit-transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
  transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
  outline-offset: -7px
}

#globalnav .link:hover {
  opacity: .65
}

#globalnav .link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%
}

@media only screen and (max-width:767px) {
  #globalnav .link {
    font-size: 17px;
    line-height: 2.52947;
    letter-spacing: -.021em;
  }
  #globalnav .item-menu .link {
    background-position: left center;
    display: block;
    outline-offset: 0;
    padding: 0;
    width: auto;
    max-width: none
  }
}

@media only screen and (max-width:767px) and (max-width:767px) {
  #globalnav .item-menu .link-search {
    background-position: left top
  }
}

#globalnav .menuicon {
  right: 0;
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 48px;
  border-bottom: none
}

#globalnav .menuicon-bread,
#globalnav .menuicon-label {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 48px;
  height: 48px
}

@media only screen and (max-width:767px) {
  #globalnav .menuicon {
    display: block
  }
}

#globalnav .menuicon-label {
  display: block;
  cursor: pointer;
  -webkit-transition: opacity .2s cubic-bezier(.645, .045, .355, 1), -webkit-transform .4s cubic-bezier(.4, .01, .165, .99);
  transition: opacity .2s cubic-bezier(.645, .045, .355, 1), -webkit-transform .4s cubic-bezier(.4, .01, .165, .99);
  transition: opacity .2s cubic-bezier(.645, .045, .355, 1), transform .4s cubic-bezier(.4, .01, .165, .99);
  transition: opacity .2s cubic-bezier(.645, .045, .355, 1), transform .4s cubic-bezier(.4, .01, .165, .99), -webkit-transform .4s cubic-bezier(.4, .01, .165, .99)
}

#globalnav .menuicon-label:active,
#globalnav .menuicon-label:focus,
#globalnav .menuicon-label:hover {
  opacity: .65
}

#globalnav.touch .menuicon-label {
  opacity: 1;
  -webkit-transition: -webkit-transform .4s cubic-bezier(.4, .01, .165, .99);
  transition: -webkit-transform .4s cubic-bezier(.4, .01, .165, .99);
  transition: transform .4s cubic-bezier(.4, .01, .165, .99);
  transition: transform .4s cubic-bezier(.4, .01, .165, .99), -webkit-transform .4s cubic-bezier(.4, .01, .165, .99)
}

#menustate:checked ~ #globalnav .menuicon-label,
#menustate:target ~ #globalnav .menuicon-label {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

#globalnav .menuicon-bread {
  left: 0;
  -webkit-transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
  transition: opacity .2s cubic-bezier(.645, .045, .355, 1)
}

#globalnav .menuicon-bread-top {
  -webkit-transition: -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
  transition: -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s cubic-bezier(.4, .01, .165, .99), -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  z-index: 4
}

#menustate:checked ~ #globalnav .menuicon-bread-top,
#menustate:target ~ #globalnav .menuicon-bread-top {
  -webkit-transition: -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  transition: -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s .2s cubic-bezier(.4, .01, .165, .99), -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

#globalnav .menuicon-bread-bottom {
  -webkit-transition: -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
  transition: -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s cubic-bezier(.4, .01, .165, .99), -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0)
}

#menustate:checked ~ #globalnav .menuicon-bread-bottom,
#menustate:target ~ #globalnav .menuicon-bread-bottom {
  -webkit-transition: -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  transition: -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  transition: transform .25s .2s cubic-bezier(.4, .01, .165, .99), -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

#globalnav .menuicon-bread-crust {
  display: block;
  width: 17px;
  height: 1px;
  background: $c--white;
  position: absolute;
  left: 16px;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s
}

#globalnav .menuanchor-close,
#menustate:checked ~ #globalnav .menuanchor-open,
#menustate:target ~ #globalnav .menuanchor-open {
  display: none
}

#globalnav .menuicon-bread-crust-top {
  top: 23px;
  -webkit-transition: -webkit-transform .2s .2s;
  transition: -webkit-transform .2s .2s;
  transition: transform .2s .2s;
  transition: transform .2s .2s, -webkit-transform .2s .2s;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px)
}

#menustate:checked ~ #globalnav .menuicon-bread-crust-top,
#menustate:target ~ #globalnav .menuicon-bread-crust-top {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0;
  transition-delay: 0
}

#globalnav .menuicon-bread-crust-bottom {
  bottom: 23px;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px)
}

#menustate:checked ~ #globalnav .menuicon-bread-crust-bottom,
#menustate:target ~ #globalnav .menuicon-bread-crust-bottom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}

#globalnav .menuanchor {
  left: 0;
  color: $c--white;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  z-index: 10
}

#globalnav .menuanchor:focus {
  outline-offset: -8px;
  width: 48px;
  height: 48px
}

#globalnav .menuanchor-label {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0
}

#menustate:checked ~ #globalnav .menuanchor-close,
#menustate:target ~ #globalnav .menuanchor-close {
  display: block
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0) translateZ(0);
    transform: rotate(0) translateZ(0)
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
    transform: rotate(360deg) translateZ(0)
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0) translateZ(0);
    transform: rotate(0) translateZ(0)
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
    transform: rotate(360deg) translateZ(0)
  }
}

#globalnav button,
#globalnav input {
  border: none;
  background-color: transparent
}

/*
////////////////////////
///////  LocalNav  ////
//////////////////////
*/

#localnav article,
#localnav aside,
#localnav details,
#localnav figcaption,
#localnav figure,
#localnav footer,
#localnav header,
#localnav nav,
#localnav section {
  display: block
}

html.noscroll {
  margin-top: 0!important
}

html.noscroll,
html.noscroll body {
  overflow: hidden!important;
  height: 100%!important
}

html.noscroll-long {
  overflow-y: scroll!important
}

#localnav,
#localnav:after,
#localnav:before,
#localnav:after,
#localnav:before {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  letter-spacing: normal
}

#localnav,
#localnav .ln-button,
#localnav .ln-button-compact,
#localnav .ln-menu,
#localnav .ln-violator,
#localnav .ln-violator-frameless,
#localnav .ln-violator-inline,
#localnav button,
#localnav input,
#localnav select,
#localnav textarea {}

#localnav img {
  border: 0;
  vertical-align: middle
}

#localnav ul {
  list-style: none
}

#localnav,
#localnav button,
#localnav input,
#localnav select,
#localnav textarea {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left
}

#localnav a,
#localnav a:hover {
  text-decoration: none
}

#localnav .ln-button,
#localnav .ln-button-compact {
  font-size: .88rem;
  font-weight: 400;
  letter-spacing: 1px;
  min-width: 20px
}

#localnav .ln-menu {
  font-size: .85rem;
  font-weight: 400;
  letter-spacing: 0
}

#localnav .ln-button {
  background-color: #78aa00;
  border: 0;
  border-radius: 2px;
  color: $c--white;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  height: 1.77rem;
  line-height: 1.88rem;
  margin-right: 0;
  padding: 0 .77rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s ease
}

.ln-actions {
  display: none;
}

@media only screen and (max-width:640px) {
  #localnav .ln-button {
    margin-top: .77rem
  }
  .ln-actions {
    display: block;
  }
}

#localnav .ln-button:hover {
  background-color: #8ec900;
  text-decoration: none
}

#localnav .ln-button:focus {
  box-shadow: 0 0 0 3px rgba(131, 192, 253, .5);
  outline: 0
}

#localnav .ln-button:focus[data-focus-method=mouse]:not(input):not(textarea):not(select),
#localnav .ln-button:focus[data-focus-method=touch]:not(input):not(textarea):not(select) {
  box-shadow: none
}

#localnav .ln-button:active {
  outline: 0
}

#localnav .ln-button.current,
#localnav .ln-button.disabled,
#localnav .ln-button:disabled {
  background-color: $c--dirty;
  background: -webkit-linear-gradient(#42a1ec, $c--dirty);
  background: linear-gradient(#42a1ec, $c--dirty);
  border-color: #07c;
  color: $c--white;
  cursor: default;
  opacity: .3
}

#localnav .ln-button-block {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%
}

#localnav .ln-button-secondary {
  background-color: #e3e3e3;
  background: -webkit-linear-gradient($c--white, #e3e3e3);
  background: linear-gradient($c--white, #e3e3e3);
  border-color: #d6d6d6;
  color: $c--dirty
}

#localnav .ln-button-secondary:hover {
  background-color: #eee;
  background: -webkit-linear-gradient($c--white, #eee);
  background: linear-gradient($c--white, #eee);
  border-color: #d9d9d9
}

#localnav .ln-button-secondary:active {
  background-color: #dcdcdc;
  background: -webkit-linear-gradient(#f7f7f7, #dcdcdc);
  background: linear-gradient(#f7f7f7, #dcdcdc);
  border-color: #d0d0d0
}

#localnav .ln-button-secondary.disabled,
#localnav .ln-button-secondary:disabled {
  background-color: #e3e3e3;
  background: -webkit-linear-gradient($c--white, #e3e3e3);
  background: linear-gradient($c--white, #e3e3e3);
  border-color: #d6d6d6;
  color: $c--dirty
}

#localnav .ln-button + .ln-button {
  margin-left: 20px
}

#ln-viewport-emitter {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
  x-content: "localnav:large"
}

#ln-viewport-emitter::before {
  content: "localnav:large"
}

@media only screen and (max-width:1023px) {
  #ln-viewport-emitter {
    x-content: "localnav:medium"
  }
  #ln-viewport-emitter::before {
    content: "localnav:medium"
  }
}

#localnav {
  font-weight: 400;
  text-size-adjust: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  min-width: 1024px;
  z-index: 997
}

#localnav:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .44);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .44);
  box-shadow: 0 0 10px rgba(0, 0, 0, .44);
  z-index: 0
}

@media only screen and (max-width:1044px) {
  #localnav {
    min-width: 280px
  }
}

@media only screen and (max-width:767px) {
  #ln-viewport-emitter {
    x-content: "localnav:small"
  }
  #ln-viewport-emitter::before {
    content: "localnav:small"
  }
  #localnav {
    height: 48px
  }
}

#localnav.theme-dark {
  background: 0 0;
}

#ln-menustate {
  display: none
}

#localnav .ln-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1
}

#localnav .ln-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 .77rem;
  position: relative;
  z-index: 2
}

#localnav .ln-content::after,
#localnav .ln-content::before {
  content: ' ';
  display: table
}

#localnav .ln-content::after {
  clear: both
}

@media only screen and (max-width:1023px) {
  #localnav .ln-content {
    border-bottom: none
  }
}

@media only screen and (max-width:767px) {
  #localnav .ln-content {
    padding: 0 16px
  }
}

#localnav.css-sticky,
#localnav[data-sticky] {
  position: -webkit-sticky;
  position: sticky
}

#localnav.no-css-sticky.ln-sticking {
  margin-top: 0!important;
  margin-bottom: 0!important;
  position: fixed
}

#ln-sticky-placeholder {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  visibility: hidden;
  z-index: -1
}

#ln-sticky-placeholder.no-css-sticky.ln-sticking {
  height: 52px
}

.localnav-overlap #ln-sticky-placeholder.no-css-sticky.ln-sticking,
.nav-overlap #ln-sticky-placeholder.no-css-sticky.ln-sticking {
  height: 0
}

@media only screen and (max-width:767px) {
  #ln-sticky-placeholder.no-css-sticky.ln-sticking {
    height: 48px
  }
}

#ln-curtain {
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 996;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease
}

@media only screen and (max-width:767px) {
  #ln-curtain {
    -webkit-transition: opacity 1s ease .2s, width 0s ease 1.2s, height 0s ease 1.2s;
    transition: opacity 1s ease .2s, width 0s ease 1.2s, height 0s ease 1.2s
  }
}

#ln-menustate:checked ~ #ln-curtain,
#ln-menustate:target ~ #ln-curtain {
  -webkit-transition: opacity 1s ease .1s;
  transition: opacity 1s ease .1s
}

#localnav .ln-actions {
  float: left
}

#localnav .ln-action {
  margin-left: 24px;
  float: left
}

@media only screen and (max-width:640px) {
  #ln-menustate:checked ~ #ln-curtain,
  #ln-menustate:target ~ #ln-curtain {
    opacity: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
  }
  #localnav .ln-actions {
    right: 0;
    padding: 0 16px;
    position: absolute;
    top: 0;
    z-index: 1
  }
  #localnav .ln-actions-center {
    left: 50%
  }
  #localnav .ln-actions-center .ln-action-menucta {
    right: .1rem;
    position: absolute;
    z-index: 1
  }
  #localnav .ln-action {
    line-height: 56px
  }
  #localnav .ln-action-button {
    margin-left: 35px;
    float: right
  }
  #localnav .ln-action-button i {
    color: $c--green;
  }
}

#localnav .ln-action-product {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: auto;
  left: auto
}

#localnav .ln-action-menucta {
  position: relative;
  z-index: 1
}

#localnav .ln-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color .5s cubic-bezier(.28, .11, .32, 1);
  transition: background-color .5s cubic-bezier(.28, .11, .32, 1)
}

@media only screen and (max-width:767px) {
  #localnav .ln-action-menucta {
    float: left
  }
  #localnav .ln-background {
    min-height: 48px;
    -webkit-transition: background-color .5s ease .7s;
    transition: background-color .5s ease .7s
  }
  #localnav.localnav-hero .ln-background {
    -webkit-transition-delay: 0s;
    transition-delay: 0s
  }
}

#localnav.localnav-hero .ln-background:after {
  background-color: rgba(255, 255, 255, .4)
}

#localnav.localnav-scrim .ln-background {
  background-color: rgba(255, 255, 255, .9)
}

#localnav.localnav-scrim .ln-background:after {
  background-color: rgba(51, 51, 51, .2)
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
  #localnav.localnav-scrim .ln-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, .88)
  }
}

.localnav-scrim#localnav.localnav-noblur .ln-background {
  -webkit-backdrop-filter: initial;
  backdrop-filter: initial;
  background-color: rgba(255, 255, 255, .9)
}

.localnav-scrim#localnav.localnav-dark .ln-background,
.theme-dark .localnav-scrim#localnav .ln-background {
  background-color: rgba(34, 34, 34, .9)
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
  .localnav-scrim#localnav.localnav-dark .ln-background,
  .theme-dark .localnav-scrim#localnav .ln-background {
    background-color: rgba(34, 34, 34, .7)
  }
}

.localnav-scrim.localnav-dark#localnav.localnav-noblur .ln-background,
.theme-dark .localnav-scrim#localnav.localnav-noblur .ln-background {
  -webkit-backdrop-filter: initial;
  backdrop-filter: initial;
  background-color: rgba(34, 34, 34, .9)
}

#localnav.ln-sticking .ln-background {
  background-color: rgba(255, 255, 255, .9);
  -webkit-transition: background-color .5s cubic-bezier(.28, .11, .32, 1);
  transition: background-color .5s cubic-bezier(.28, .11, .32, 1);
  -webkit-transition-property: background-color, -webkit-backdrop-filter;
  transition-property: background-color, -webkit-backdrop-filter;
  transition-property: background-color, backdrop-filter;
  transition-property: background-color, backdrop-filter, -webkit-backdrop-filter
}

#localnav.ln-sticking .ln-background:after {
  background-color: rgba(51, 51, 51, .1)
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
  #localnav.ln-sticking .ln-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, .88)
  }
}

.ln-sticking#localnav.localnav-noblur .ln-background {
  -webkit-backdrop-filter: initial;
  backdrop-filter: initial;
  background-color: rgba(255, 255, 255, .9)
}

.ln-sticking#localnav.localnav-dark .ln-background,
.theme-dark .ln-sticking#localnav .ln-background {
  background-color: rgba(34, 34, 34, .9)
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
  .ln-sticking#localnav.localnav-dark .ln-background,
  .theme-dark .ln-sticking#localnav .ln-background {
    background-color: rgba(34, 34, 34, .7)
  }
}

.ln-sticking.localnav-dark#localnav.localnav-noblur .ln-background,
.theme-dark .ln-sticking#localnav.localnav-noblur .ln-background {
  -webkit-backdrop-filter: initial;
  backdrop-filter: initial;
  background-color: rgba(34, 34, 34, .9)
}

#ln-menustate:checked ~ #localnav .ln-background,
#ln-menustate:target ~ #localnav .ln-background {
  background-color: $c--white;
  max-height: none;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  -webkit-transition-property: background-color, -webkit-backdrop-filter;
  transition-property: background-color, -webkit-backdrop-filter;
  transition-property: background-color, backdrop-filter;
  transition-property: background-color, backdrop-filter, -webkit-backdrop-filter
}

#ln-menustate:checked ~ #localnav .ln-background:after,
#ln-menustate:target ~ #localnav .ln-background:after {
  background-color: rgba(51, 51, 51, .1)
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
  #ln-menustate:checked ~ #localnav .ln-background,
  #ln-menustate:target ~ #localnav .ln-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, .9)
  }
}

#ln-menustate:checked ~ #localnav.localnav-noblur .ln-background,
#ln-menustate:target ~ #localnav.localnav-noblur .ln-background {
  -webkit-backdrop-filter: initial;
  backdrop-filter: initial;
  background-color: $c--white
}

#localnav.localnav-dark .ln-background:after,
.theme-dark #localnav .ln-background:after {
  background-color: rgba(51, 51, 51, .95)
}

.localnav-dark#localnav.localnav-hero .ln-background:after,
.theme-dark #localnav.localnav-hero .ln-background:after {
  background-color: rgba(255, 255, 255, .4)
}

.localnav-dark.localnav-hero#localnav.ln-sticking .ln-background:after,
.theme-dark .localnav-hero#localnav.ln-sticking .ln-background:after {
  background-color: rgba(51, 51, 51, .7)
}

.localnav-dark#localnav.localnav-scrim .ln-background:after,
.theme-dark #localnav.localnav-scrim .ln-background:after {
  background-color: rgba(51, 51, 51, .95)
}

.localnav-dark#localnav.ln-sticking .ln-background:after,
.theme-dark #localnav.ln-sticking .ln-background:after {
  background-color: rgba(51, 51, 51, .7)
}

#ln-menustate:checked ~ #localnav.localnav-dark .ln-background,
#ln-menustate:target ~ #localnav.localnav-dark .ln-background,
.theme-dark #ln-menustate:checked ~ #localnav .ln-background,
.theme-dark #ln-menustate:target ~ #localnav .ln-background {
  background-color: #222
}

#ln-menustate:checked ~ #localnav.localnav-dark .ln-background:after,
#ln-menustate:target ~ #localnav.localnav-dark .ln-background:after,
.theme-dark #ln-menustate:checked ~ #localnav .ln-background:after,
.theme-dark #ln-menustate:target ~ #localnav .ln-background:after {
  background-color: rgba(51, 51, 51, .7)
}

@supports ((-webkit-backdrop-filter:initial) or (backdrop-filter:initial)) {
  #ln-menustate:checked ~ #localnav.localnav-dark .ln-background,
  #ln-menustate:target ~ #localnav.localnav-dark .ln-background,
  .theme-dark #ln-menustate:checked ~ #localnav .ln-background,
  .theme-dark #ln-menustate:target ~ #localnav .ln-background {
    background-color: rgba(34, 34, 34, .9)
  }
}

#ln-menustate:checked ~ .localnav-dark#localnav.localnav-noblur .ln-background,
#ln-menustate:target ~ .localnav-dark#localnav.localnav-noblur .ln-background,
.theme-dark #ln-menustate:checked ~ #localnav.localnav-noblur .ln-background,
.theme-dark #ln-menustate:target ~ #localnav.localnav-noblur .ln-background {
  -webkit-backdrop-filter: initial;
  backdrop-filter: initial;
  background-color: #222
}

@media only screen and (max-width:1023px) {
  #localnav .ln-background:after {
    margin-left: 0;
    left: 0;
    width: 100%
  }
}

#localnav.localnav-noborder .ln-background:after {
  display: none
}

.localnav-noborder#localnav.ln-sticking .ln-background:after {
  display: block
}

#ln-menustate:checked ~ #localnav .ln-background:after,
#ln-menustate:target ~ #localnav .ln-background:after,
#localnav.ln-sticking .ln-background:after,
#localnav.localnav-scrim .ln-background:after {
  margin-left: 0;
  left: 0;
  width: 100%
}

#localnav .ln-menu {
  float: right;
  margin-top: 0;
  padding-top: .77rem
}

#localnav .ln-menu-tray {
  float: left
}

@media only screen and (max-width:767px) {
  #localnav .ln-menu {
    font-size: 14px;
    line-height: 1.11;
    font-weight: 400;
    letter-spacing: -.01em;
    padding-top: 0;
    width: 100%
  }
  #localnav .ln-menu-tray {
    float: none;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    width: 100%;
    max-height: 0;
    -webkit-transition: max-height .5s cubic-bezier(.28, .11, .32, 1) .4s, visibility 0s linear 1s;
    transition: max-height .5s cubic-bezier(.28, .11, .32, 1) .4s, visibility 0s linear 1s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-tray,
  #ln-menustate:target ~ #localnav .ln-menu-tray {
    max-height: 400px;
    max-height: -webkit-calc(100vh - 48px - 48px);
    max-height: calc(100vh - 48px - 48px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
    visibility: visible;
    -webkit-transition-delay: .2s, 0s;
    transition-delay: .2s, 0s
  }
}

@media only screen and (max-width:767px) and (orientation:landscape) {
  #ln-menustate:checked ~ #localnav .ln-menu-tray,
  #ln-menustate:target ~ #localnav .ln-menu-tray {
    max-height: 280px;
    max-height: -webkit-calc(100vh - 48px - 48px);
    max-height: calc(100vh - 48px - 48px)
  }
}

#localnav .ln-menu-item {
  margin-left: 24px;
  float: left;
  list-style: none
}

#localnav .ln-menu-link {
  color: $c--bg;
  display: inline-block;
  line-height: 22px;
  white-space: nowrap
}

#localnav .tel_1,
#localnav .tel_2 {
  font-weight: 600;
}

@media only screen and (max-width:767px) {
  #ln-menustate:checked ~ #localnav.ln-opening .ln-menu-tray,
  #ln-menustate:target ~ #localnav.ln-opening .ln-menu-tray {
    overflow-y: hidden
  }
  #ln-menustate:checked ~ #localnav.ln-sticking .ln-menu-tray,
  #ln-menustate:target ~ #localnav.ln-sticking .ln-menu-tray {
    max-height: -webkit-calc(100vh - 48px);
    max-height: calc(100vh - 48px)
  }
  #localnav .ln-menu-items {
    opacity: 0;
    padding: 17px 32px 28px;
    -webkit-transform: translate3d(0, -150px, 0);
    transform: translate3d(0, -150px, 0);
    -webkit-transition: opacity .7s cubic-bezier(.23, 1, .32, 1) .2s, -webkit-transform 1s cubic-bezier(.23, 1, .32, 1) .5s;
    transition: opacity .7s cubic-bezier(.23, 1, .32, 1) .2s, -webkit-transform 1s cubic-bezier(.23, 1, .32, 1) .5s;
    transition: transform 1s cubic-bezier(.23, 1, .32, 1) .5s, opacity .7s cubic-bezier(.23, 1, .32, 1) .2s;
    transition: transform 1s cubic-bezier(.23, 1, .32, 1) .5s, opacity .7s cubic-bezier(.23, 1, .32, 1) .2s, -webkit-transform 1s cubic-bezier(.23, 1, .32, 1) .5s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-items,
  #ln-menustate:target ~ #localnav .ln-menu-items {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: .2s, .4s;
    transition-delay: .2s, .4s
  }
  #localnav .ln-menu-item {
    margin-left: 0;
    display: inline-block;
    float: none;
    width: 100%;
    height: 42px
  }
  #localnav .ln-menu-item:first-child .ln-menu-link {
    border-top: 0
  }
  #localnav.localnav-dark .ln-menu-item,
  .theme-dark #localnav .ln-menu-item {
    border-color: rgba(68, 68, 68, .5)
  }
  #localnav .ln-menu-item:nth-child(1) .ln-menu-link {
    -webkit-transition-delay: .07s;
    transition-delay: .07s
  }
  #localnav .ln-menu-item:nth-child(2) .ln-menu-link {
    -webkit-transition-delay: .14s;
    transition-delay: .14s
  }
  #localnav .ln-menu-item:nth-child(3) .ln-menu-link {
    -webkit-transition-delay: .21s;
    transition-delay: .21s
  }
  #localnav .ln-menu-item:nth-child(4) .ln-menu-link {
    -webkit-transition-delay: .28s;
    transition-delay: .28s
  }
  #localnav .ln-menu-item:nth-child(5) .ln-menu-link {
    -webkit-transition-delay: .35s;
    transition-delay: .35s
  }
  #localnav .ln-menu-item:nth-child(6) .ln-menu-link {
    -webkit-transition-delay: .42s;
    transition-delay: .42s
  }
  #localnav .ln-menu-item:nth-child(7) .ln-menu-link {
    -webkit-transition-delay: .49s;
    transition-delay: .49s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-item:nth-child(1) .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-item:nth-child(1) .ln-menu-link {
    -webkit-transition-delay: .56s;
    transition-delay: .56s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-item:nth-child(2) .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-item:nth-child(2) .ln-menu-link {
    -webkit-transition-delay: .49s;
    transition-delay: .49s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-item:nth-child(3) .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-item:nth-child(3) .ln-menu-link {
    -webkit-transition-delay: .42s;
    transition-delay: .42s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-item:nth-child(4) .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-item:nth-child(4) .ln-menu-link {
    -webkit-transition-delay: .35s;
    transition-delay: .35s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-item:nth-child(5) .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-item:nth-child(5) .ln-menu-link {
    -webkit-transition-delay: .28s;
    transition-delay: .28s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-item:nth-child(6) .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-item:nth-child(6) .ln-menu-link {
    -webkit-transition-delay: .21s;
    transition-delay: .21s
  }
  #ln-menustate:checked ~ #localnav .ln-menu-item:nth-child(7) .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-item:nth-child(7) .ln-menu-link {
    -webkit-transition-delay: .14s;
    transition-delay: .14s
  }
  #localnav .ln-menu-link {
    border-top: 1px solid rgba(214, 214, 214, .5);
    display: block;
    line-height: 42px;
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform
  }
  #localnav.localnav-dark .ln-menu-link,
  .theme-dark #localnav .ln-menu-link {
    border-color: $c--bg
  }
  #ln-menustate:checked ~ #localnav .ln-menu-link,
  #ln-menustate:target ~ #localnav .ln-menu-link {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

#localnav.localnav-hero .ln-menu-link {
  color: $c--white
}

#ln-menustate:checked ~ .localnav-hero#localnav .ln-menu-link,
#ln-menustate:target ~ .localnav-hero#localnav .ln-menu-link,
.localnav-hero#localnav.ln-sticking .ln-menu-link {
  color: $c--bg
}

#localnav.localnav-hero .ln-menu-link:hover {
  color: $c--blue
}

#ln-menustate:checked ~ .localnav-hero#localnav .ln-menu-link:hover,
#ln-menustate:target ~ .localnav-hero#localnav .ln-menu-link:hover,
.localnav-hero#localnav.ln-sticking .ln-menu-link:hover {
  color: $c--dirty
}

#ln-menustate:checked ~ .localnav-dark#localnav .ln-menu-link,
#ln-menustate:target ~ .localnav-dark#localnav .ln-menu-link,
#localnav.localnav-dark .ln-menu-link,
.localnav-dark#localnav.ln-sticking .ln-menu-link,
.theme-dark #ln-menustate:checked ~ #localnav .ln-menu-link,
.theme-dark #ln-menustate:target ~ #localnav .ln-menu-link,
.theme-dark #localnav .ln-menu-link,
.theme-dark #localnav.ln-sticking .ln-menu-link {
  color: $c--white
}

#ln-menustate:checked ~ .localnav-dark#localnav .ln-menu-link:hover,
#ln-menustate:target ~ .localnav-dark#localnav .ln-menu-link:hover,
#localnav.localnav-dark .ln-menu-link:hover,
.localnav-dark#localnav.ln-sticking .ln-menu-link:hover,
.theme-dark #ln-menustate:checked ~ #localnav .ln-menu-link:hover,
.theme-dark #ln-menustate:target ~ #localnav .ln-menu-link:hover,
.theme-dark #localnav .ln-menu-link:hover,
.theme-dark #localnav.ln-sticking .ln-menu-link:hover {
  color: $c--blue
}

#localnav .ln-menu-link:hover {
  color: $c--dirty;
  text-decoration: none
}

#localnav .ln-menu-link.current {
  color: rgba(51, 51, 51, .6);
  cursor: default
}

#localnav .ln-menu-link.current:hover {
  color: rgba(51, 51, 51, .6)
}

#localnav.localnav-hero .ln-menu-link.current,
#localnav.localnav-hero .ln-menu-link.current:hover {
  color: rgba(255, 255, 255, .6)
}

#ln-menustate:checked ~ .localnav-hero#localnav .ln-menu-link.current,
#ln-menustate:checked ~ .localnav-hero#localnav .ln-menu-link.current:hover,
#ln-menustate:target ~ .localnav-hero#localnav .ln-menu-link.current,
#ln-menustate:target ~ .localnav-hero#localnav .ln-menu-link.current:hover,
.localnav-hero#localnav.ln-sticking .ln-menu-link.current,
.localnav-hero#localnav.ln-sticking .ln-menu-link.current:hover {
  color: rgba(51, 51, 51, .6)
}

#ln-menustate:checked ~ .localnav-dark#localnav .ln-menu-link.current,
#ln-menustate:checked ~ .localnav-dark#localnav .ln-menu-link.current:hover,
#ln-menustate:target ~ .localnav-dark#localnav .ln-menu-link.current,
#ln-menustate:target ~ .localnav-dark#localnav .ln-menu-link.current:hover,
#localnav.localnav-dark .ln-menu-link.current,
#localnav.localnav-dark .ln-menu-link.current:hover,
.localnav-dark.localnav-hero#localnav.ln-sticking .ln-menu-link.current,
.localnav-dark.localnav-hero#localnav.ln-sticking .ln-menu-link.current:hover,
.theme-dark #ln-menustate:checked ~ #localnav .ln-menu-link.current,
.theme-dark #ln-menustate:checked ~ #localnav .ln-menu-link.current:hover,
.theme-dark #ln-menustate:target ~ #localnav .ln-menu-link.current,
.theme-dark #ln-menustate:target ~ #localnav .ln-menu-link.current:hover,
.theme-dark #localnav .ln-menu-link.current,
.theme-dark #localnav .ln-menu-link.current:hover,
.theme-dark .localnav-hero#localnav.ln-sticking .ln-menu-link.current,
.theme-dark .localnav-hero#localnav.ln-sticking .ln-menu-link.current:hover {
  color: rgba(255, 255, 255, .6)
}

#localnav .ln-menucta {
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 40px;
  height: 48px
}

#localnav .ln-menucta-chevron {
  position: relative;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 1s cubic-bezier(.86, 0, .07, 1), -webkit-transform-origin 1s cubic-bezier(.86, 0, .07, 1);
  transition: transform 1s cubic-bezier(.86, 0, .07, 1), transform-origin 1s cubic-bezier(.86, 0, .07, 1);
  transition: transform 1s cubic-bezier(.86, 0, .07, 1), transform-origin 1s cubic-bezier(.86, 0, .07, 1), -webkit-transform 1s cubic-bezier(.86, 0, .07, 1), -webkit-transform-origin 1s cubic-bezier(.86, 0, .07, 1), -ms-transform-origin 1s cubic-bezier(.86, 0, .07, 1);
  -webkit-transform: translateY(16%);
  -ms-transform: translateY(16%);
  transform: translateY(16%)
}

#localnav .ln-menucta-chevron,
#localnav .ln-menucta-chevron::after,
#localnav .ln-menucta-chevron::before {
  display: block;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s cubic-bezier(.86, 0, .07, 1), -webkit-transform-origin 1s cubic-bezier(.86, 0, .07, 1)
}

#localnav .ln-menucta-chevron::after,
#localnav .ln-menucta-chevron::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 1px;
  transition: -webkit-transform 1s cubic-bezier(.86, 0, .07, 1), -webkit-transform-origin 1s cubic-bezier(.86, 0, .07, 1);
  transition: transform 1s cubic-bezier(.86, 0, .07, 1), transform-origin 1s cubic-bezier(.86, 0, .07, 1);
  transition: transform 1s cubic-bezier(.86, 0, .07, 1), transform-origin 1s cubic-bezier(.86, 0, .07, 1), -webkit-transform 1s cubic-bezier(.86, 0, .07, 1), -webkit-transform-origin 1s cubic-bezier(.86, 0, .07, 1), -ms-transform-origin 1s cubic-bezier(.86, 0, .07, 1);
  background: $c--bg
}

#localnav .ln-menucta-chevron::before {
  right: 50%;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(40deg) scaleY(1.5);
  -ms-transform: rotate(40deg) scaleY(1.5);
  transform: rotate(40deg) scaleY(1.5)
}

#localnav .ln-menucta-chevron::after {
  left: 50%;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(-40deg) scaleY(1.5);
  -ms-transform: rotate(-40deg) scaleY(1.5);
  transform: rotate(-40deg) scaleY(1.5)
}

#ln-menustate:checked ~ #localnav .ln-menucta-chevron,
#ln-menustate:target ~ #localnav .ln-menucta-chevron {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}

#ln-menustate:checked ~ #localnav .ln-menucta-chevron::before,
#ln-menustate:target ~ #localnav .ln-menucta-chevron::before {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-40deg) scaleY(1.5);
  -ms-transform: rotate(-40deg) scaleY(1.5);
  transform: rotate(-40deg) scaleY(1.5)
}

#ln-menustate:checked ~ #localnav .ln-menucta-chevron::after,
#ln-menustate:target ~ #localnav .ln-menucta-chevron::after {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(40deg) scaleY(1.5);
  -ms-transform: rotate(40deg) scaleY(1.5);
  transform: rotate(40deg) scaleY(1.5)
}

#localnav.localnav-hero .ln-menucta-chevron::after,
#localnav.localnav-hero .ln-menucta-chevron::before {
  background: $c--white
}

#ln-menustate:checked ~ .localnav-hero#localnav .ln-menucta-chevron::after,
#ln-menustate:checked ~ .localnav-hero#localnav .ln-menucta-chevron::before,
#ln-menustate:target ~ .localnav-hero#localnav .ln-menucta-chevron::after,
#ln-menustate:target ~ .localnav-hero#localnav .ln-menucta-chevron::before,
.localnav-hero#localnav.ln-sticking .ln-menucta-chevron::after,
.localnav-hero#localnav.ln-sticking .ln-menucta-chevron::before {
  background: $c--bg
}

#ln-menustate:checked ~ .localnav-dark#localnav .ln-menucta-chevron::after,
#ln-menustate:checked ~ .localnav-dark#localnav .ln-menucta-chevron::before,
#ln-menustate:target ~ .localnav-dark#localnav .ln-menucta-chevron::after,
#ln-menustate:target ~ .localnav-dark#localnav .ln-menucta-chevron::before,
#localnav.localnav-dark .ln-menucta-chevron::after,
#localnav.localnav-dark .ln-menucta-chevron::before,
.localnav-dark#localnav.ln-sticking .ln-menucta-chevron::after,
.localnav-dark#localnav.ln-sticking .ln-menucta-chevron::before,
.theme-dark #ln-menustate:checked ~ #localnav .ln-menucta-chevron::after,
.theme-dark #ln-menustate:checked ~ #localnav .ln-menucta-chevron::before,
.theme-dark #ln-menustate:target ~ #localnav .ln-menucta-chevron::after,
.theme-dark #ln-menustate:target ~ #localnav .ln-menucta-chevron::before,
.theme-dark #localnav .ln-menucta-chevron::after,
.theme-dark #localnav .ln-menucta-chevron::before,
.theme-dark #localnav.ln-sticking .ln-menucta-chevron::after,
.theme-dark #localnav.ln-sticking .ln-menucta-chevron::before {
  background: $c--white
}

#localnav .ln-menucta-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  z-index: 10
}

#ln-menustate:checked ~ #localnav .ln-menucta-anchor-open,
#ln-menustate:target ~ #localnav .ln-menucta-anchor-open,
#localnav .ln-menucta-anchor-close {
  display: none
}

#localnav .ln-menucta-anchor:focus {
  outline-offset: -6px;
  width: 100%;
  height: 100%
}

#localnav .ln-menucta-anchor-label {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0
}

#ln-menustate:checked ~ #localnav .ln-menucta-anchor-close,
#ln-menustate:target ~ #localnav .ln-menucta-anchor-close {
  display: block
}

#localnav .ln-title {
  font-size: 24px;
  line-height: 2.125;
  font-weight: 500;
  letter-spacing: .015em;
  cursor: default;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 52px;
  white-space: nowrap
}

@media only screen and (max-width:767px) {
  #localnav .ln-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .017em;
    display: inline-block;
    line-height: 48px;
    height: 48px
  }
}

.products .overlay,
.pulse:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

#localnav .ln-title a {
  font-weight: 600;
  display: inline-block;
  line-height: 2.22;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle
}

.content-main,
.products .text-block {
  margin-left: auto;
  margin-right: auto;
}

#localnav .ln-title a:hover {
  text-decoration: none
}

#localnav .ln-title,
#localnav .ln-title a {
  color: $c--bg;
  -webkit-transition: color .5s cubic-bezier(.28, .11, .32, 1);
  transition: color .5s cubic-bezier(.28, .11, .32, 1)
}

#localnav.localnav-hero .ln-title,
#localnav.localnav-hero .ln-title a {
  color: $c--white
}

#ln-menustate:checked ~ .localnav-hero#localnav .ln-title,
#ln-menustate:checked ~ .localnav-hero#localnav .ln-title a,
#ln-menustate:target ~ .localnav-hero#localnav .ln-title,
#ln-menustate:target ~ .localnav-hero#localnav .ln-title a,
.localnav-hero#localnav.ln-sticking .ln-title,
.localnav-hero#localnav.ln-sticking .ln-title a {
  color: $c--bg
}

#ln-menustate:checked ~ .localnav-dark#localnav .ln-title,
#ln-menustate:checked ~ .localnav-dark#localnav .ln-title a,
#ln-menustate:target ~ .localnav-dark#localnav .ln-title,
#ln-menustate:target ~ .localnav-dark#localnav .ln-title a,
#localnav.localnav-dark .ln-title,
#localnav.localnav-dark .ln-title a,
.localnav-dark#localnav.ln-sticking .ln-title,
.localnav-dark#localnav.ln-sticking .ln-title a,
.theme-dark #ln-menustate:checked ~ #localnav .ln-title,
.theme-dark #ln-menustate:checked ~ #localnav .ln-title a,
.theme-dark #ln-menustate:target ~ #localnav .ln-title,
.theme-dark #ln-menustate:target ~ #localnav .ln-title a,
.theme-dark #localnav .ln-title,
.theme-dark #localnav .ln-title a,
.theme-dark #localnav.ln-sticking .ln-title,
.theme-dark #localnav.ln-sticking .ln-title a {
  color: $c--white
}

#localnav .ln-title-comingsoon,
#localnav .ln-title-subhead {
  font-size: 17px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -.021em;
}

@media only screen and (max-width:767px) {
  #localnav .ln-title-comingsoon,
  #localnav .ln-title-subhead {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -.01em;
  }
}

#localnav .ln-title-comingsoon {
  opacity: .6
}

#localnav .ln-menucta-chevron::after,
#localnav .ln-menucta-chevron::before {
  top: 60%;
  width: 11px;
  background: $c--bg;
}

.ln-menucta i {
  position: absolute;
  top: 3px;
  right: 6px;
}