.is-hidden {
	@include hidden;
}

.vh {
	@include vh;
}

.cf {
	@include cf;
}

.push {
	margin-top: $spacing-unit--x-large;

	&--auto {
		margin-left: auto;
		margin-right: auto;
	}

	&--small,
	&--copy {
		margin-top: $spacing-unit--x-small;
	}
	&--large {
		margin-top: $spacing-unit--large;
	}
	&--section {
		margin-top: $spacing-unit--xx-large;

		@include mq('tablet') {

		}
	}

	@include mq('tablet') {
		&--small,
		&--copy {
			margin-top: $spacing-unit;
		}
		&--large {
			margin-top: $spacing-unit--x-large;
		}
		&--section {
			margin-top: $spacing-unit--xx-large + $spacing-unit--small;
		}
	}

	@include mq('desktop') {
		&--small,
		&--copy {
			margin-top: $spacing-unit--large;
		}
		&--large {
			margin-top: $spacing-unit--x-large + $spacing-unit;
		}
		&--section {
			margin-top: $spacing-unit--xx-large + $spacing-unit;
		}
	}

	@include mq(em(768px), $property: 'height') {
		@include mq('desktop-wide') {
			&--small,
			&--copy {
				margin-top: $spacing-unit--large;
			}
			&--large {
				margin-top: $spacing-unit--xx-large + $spacing-unit;
			}
			&--section {
				margin-top: $spacing-unit--xxx-large + $spacing-unit;
			}
		}
	}
}

.flush {
	margin-top: 0;
}
