/*---

Quickly build complex layouts:

```
<div class="sg-example-grid">
	<div class="row">
		<div class="column width--tablet-12"><span class="sg-panel">Column</span></div>
		<div class="column width--tablet-12"><span class="sg-panel">Column</span></div>
	</div>
</div>
```

Add spacing using `gutter` modifier:

```
<div class="sg-example-grid">
	<div class="row row--gutter flush-first--3">
		<div class="column width--8"><span class="sg-panel">Column</span></div>
		<div class="column width--8"><span class="sg-panel">Column</span></div>
		<div class="column width--8"><span class="sg-panel">Column</span></div>
	</div>
</div>
```

*/

.row {
	@include cf;

	&--gutter {
		margin-right: $grid-column-gutter;

		@include mq('tablet') {
			margin-right: $grid-column-gutter--tablet;
		}
	}
}

.column {
	position: relative;
	float: left;
	width: 100%;

	.row--alt > & {
		float: right;
	}

	.row--gutter > & {
		margin-top: $grid-column-gutter;
		padding-left: $grid-column-gutter;

		@include mq('tablet') {
			margin-top: $grid-column-gutter--tablet;
			padding-left: $grid-column-gutter--tablet;
		}
	}
}
