{
  "name": "styles",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "framework.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "framework.scss",
      "imports": [
        "netexy/main.scss",
        "uikit/_uikit.scss",
        "flexbox-grid/_main.scss",
        "netexy/_variables.scss",
        "netexy/utility/_index.scss",
        "netexy/core/_index.scss",
        "netexy/layout/_index.scss",
        "netexy/module/_index.scss",
        "netexy/page/_index.scss",
        "uikit/components/_import.scss",
        "flexbox-grid/library/_main.scss",
        "flexbox-grid/_reset.scss",
        "flexbox-grid/_border-box-all.scss",
        "flexbox-grid/variables/_main.scss",
        "flexbox-grid/mixins/_main.scss",
        "flexbox-grid/_element-defaults.scss",
        "flexbox-grid/_unique.scss",
        "netexy/utility/_functions.scss",
        "netexy/utility/_mixins.scss",
        "netexy/utility/_align.scss",
        "netexy/utility/_animations.scss",
        "netexy/utility/_flush-first.scss",
        "netexy/utility/_fonts.scss",
        "netexy/utility/_helper-classes.scss",
        "netexy/utility/_print.scss",
        "netexy/utility/_visible.scss",
        "netexy/utility/grid/_block-grid.scss",
        "netexy/utility/grid/_columns.scss",
        "netexy/utility/grid/_width-push-pull.scss",
        "netexy/utility/reset/_form.scss",
        "netexy/utility/reset/_spacing.scss",
        "netexy/core/_anchor.scss",
        "netexy/core/_blockquote.scss",
        "netexy/core/_button.scss",
        "netexy/core/_code.scss",
        "netexy/core/_definition-list.scss",
        "netexy/core/_document.scss",
        "netexy/core/_figure.scss",
        "netexy/core/_horizontal-rule.scss",
        "netexy/core/_icon.scss",
        "netexy/core/_img.scss",
        "netexy/core/_list.scss",
        "netexy/core/_table.scss",
        "netexy/core/_typography.scss",
        "netexy/core/_spacings.scss",
        "netexy/core/_dropdown.scss",
        "netexy/core/_input-fields.scss",
        "netexy/core/_switches.scss",
        "netexy/core/_checkboxes.scss",
        "netexy/core/_select.scss",
        "netexy/core/_range.scss",
        "netexy/core/_radio-buttons.scss",
        "netexy/core/_file-input.scss",
        "netexy/core/_modal.scss",
        "netexy/core/_marker.scss",
        "netexy/core/_tabs.scss",
        "netexy/core/_progress.scss",
        "netexy/core/_infolist.scss",
        "netexy/core/_youtube.scss",
        "netexy/layout/_outdated-browser.scss",
        "netexy/layout/_site-content.scss",
        "netexy/layout/_site-footer.scss",
        "netexy/layout/_site-header.scss",
        "netexy/module/_bg-iconset.scss",
        "netexy/module/_collage.scss",
        "netexy/module/_container.scss",
        "netexy/module/_copy.scss",
        "netexy/module/_cta.scss",
        "netexy/module/_culture.scss",
        "netexy/module/_inline-children.scss",
        "netexy/module/_layout.scss",
        "netexy/module/_lazy.scss",
        "netexy/module/_media.scss",
        "netexy/module/_navigation-overlay.scss",
        "netexy/module/_navigation.scss",
        "netexy/module/_panel.scss",
        "netexy/module/_placeholder.scss",
        "netexy/module/_preview.scss",
        "netexy/module/_profile.scss",
        "netexy/module/_reveal.scss",
        "netexy/module/_search.scss",
        "netexy/module/_slide.scss",
        "netexy/module/_staff.scss",
        "netexy/module/_stats.scss",
        "netexy/module/_work.scss",
        "netexy/module/_products.scss",
        "netexy/module/_counter.scss",
        "netexy/module/_banner.scss",
        "netexy/module/_frames.scss",
        "netexy/page/_404.scss",
        "uikit/components/_variables.scss",
        "uikit/components/_mixin.scss",
        "uikit/components/_base.scss",
        "uikit/components/_link.scss",
        "uikit/components/_heading.scss",
        "uikit/components/_divider.scss",
        "uikit/components/_list.scss",
        "uikit/components/_description-list.scss",
        "uikit/components/_table.scss",
        "uikit/components/_icon.scss",
        "uikit/components/_form-range.scss",
        "uikit/components/_form.scss",
        "uikit/components/_button.scss",
        "uikit/components/_section.scss",
        "uikit/components/_container.scss",
        "uikit/components/_grid.scss",
        "uikit/components/_tile.scss",
        "uikit/components/_card.scss",
        "uikit/components/_close.scss",
        "uikit/components/_spinner.scss",
        "uikit/components/_totop.scss",
        "uikit/components/_marker.scss",
        "uikit/components/_alert.scss",
        "uikit/components/_badge.scss",
        "uikit/components/_label.scss",
        "uikit/components/_overlay.scss",
        "uikit/components/_article.scss",
        "uikit/components/_comment.scss",
        "uikit/components/_search.scss",
        "uikit/components/_nav.scss",
        "uikit/components/_navbar.scss",
        "uikit/components/_subnav.scss",
        "uikit/components/_breadcrumb.scss",
        "uikit/components/_pagination.scss",
        "uikit/components/_tab.scss",
        "uikit/components/_slidenav.scss",
        "uikit/components/_dotnav.scss",
        "uikit/components/_thumbnav.scss",
        "uikit/components/_accordion.scss",
        "uikit/components/_drop.scss",
        "uikit/components/_dropdown.scss",
        "uikit/components/_modal.scss",
        "uikit/components/_lightbox.scss",
        "uikit/components/_slideshow.scss",
        "uikit/components/_slider.scss",
        "uikit/components/_sticky.scss",
        "uikit/components/_offcanvas.scss",
        "uikit/components/_switcher.scss",
        "uikit/components/_iconnav.scss",
        "uikit/components/_notification.scss",
        "uikit/components/_tooltip.scss",
        "uikit/components/_placeholder.scss",
        "uikit/components/_progress.scss",
        "uikit/components/_sortable.scss",
        "uikit/components/_countdown.scss",
        "uikit/components/_animation.scss",
        "uikit/components/_width.scss",
        "uikit/components/_text.scss",
        "uikit/components/_column.scss",
        "uikit/components/_cover.scss",
        "uikit/components/_background.scss",
        "uikit/components/_align.scss",
        "uikit/components/_utility.scss",
        "uikit/components/_flex.scss",
        "uikit/components/_margin.scss",
        "uikit/components/_padding.scss",
        "uikit/components/_position.scss",
        "uikit/components/_transition.scss",
        "uikit/components/_visibility.scss",
        "uikit/components/_inverse.scss",
        "uikit/components/_print.scss",
        "flexbox-grid/library/variables/_main.scss",
        "flexbox-grid/library/mixins/_main.scss",
        "flexbox-grid/library/_grid.scss",
        "flexbox-grid/library/_visibility.scss",
        "flexbox-grid/variables/_text-variables.scss",
        "flexbox-grid/variables/_color-variables.scss",
        "flexbox-grid/mixins/_text-mixins.scss",
        "uikit/_variables.scss",
        "flexbox-grid/library/variables/_grid-variables.scss",
        "flexbox-grid/library/mixins/_visibility-mixins.scss",
        "flexbox-grid/library/mixins/_grid-mixins.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}